<footer class='site-footer'>
  <p><img src="http://dn-cdn-glassx.qbox.me/assets/common/glassx-qrcode-ee7507818fc7a45641c7007495ed798f.jpg"></p>
  <ul class='link'>
    <li>关于我们</li>
    <li>联系电话</li>
    <li>定制服务</li>
    <li>批发代理</li>
  </ul>
  <p>COPY RIGHT by bilifoo.com</p>
</footer>