<div class='ring'>
  <div class="banner">
      <ul>
          <li><img alt="Uploads%2farticle%2fhome cover%2f1281%2f 26factsaboutgoogle" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fhome_cover%2F1281%2F_26factsaboutgoogle.jpg"></li>
          <li><img alt="Uploads%2farticle%2fhome cover%2f1243%2fandroidwatchfaces" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fhome_cover%2F1243%2FAndroidWatchFaces.jpg"></li>
          <li><img alt="Uploads%2farticle%2fhome cover%2f1281%2f 26factsaboutgoogle" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fhome_cover%2F1281%2F_26factsaboutgoogle.jpg"></li>
          <li><img alt="Uploads%2farticle%2fhome cover%2f1243%2fandroidwatchfaces" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fhome_cover%2F1243%2FAndroidWatchFaces.jpg"></li>
          <li><img alt="Uploads%2farticle%2fhome cover%2f1281%2f 26factsaboutgoogle" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fhome_cover%2F1281%2F_26factsaboutgoogle.jpg"></li>
          <li><img alt="Uploads%2farticle%2fhome cover%2f1243%2fandroidwatchfaces" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fhome_cover%2F1243%2FAndroidWatchFaces.jpg"></li>
      </ul>

  </div>
</div>

