.container{
  width: 1024px;
  margin: 0 auto;
}

.containerTitle{
  display: inline-block;
  height: 30px;
  width: 760px;
  border-bottom: 1px solid rgba(30,30,30,0.1);
}

.jewelCard{
  width: 230px;
  height: 300px;
  margin-top: 26px;
  margin-left: 18px;
  overflow: hidden;
  display: inline-block;
  
  .jewelName{
    display: block;
    height: 33px;
    overflow: hidden;
    font-size: 120%;
    padding-top: 12px;
  }

  .cover{
    margin:0 auto;
    img{
      width: 220px;
      height: 220px;
      overflow: hidden;
    }
  }

  p{
    font-size: 60%;
    margin: 6px auto;
  }

  .sort{
    font-size: 60%;
    color: #ffa6a6;
    display: inline-block;
    a{
      color: #ffa6a6;
    }
  }

  ul.tags{
    margin-left: -30px;
    list-style: none;
    display: inline-block;
    font-size: 60%;
    color: #ffa600;

    li{
      display: inline;
      &:before{
        content: "·";
        margin: 0 5px;
      }

      a{
        color: #ffa600;
      }
    }
  }

}

.sidebar{
  float: right;
  display: inline-block;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 230px;
  border: 1px solid rgba(30,30,30,0.1);
}

.hot{
  margin: 30px auto;
  .hotTitle{
    color: #909090;
    margin: 0px auto;
    border-bottom: 1px solid rgba(30,30,30,0.1);
    width: 180px;
    text-align: center;
  }
}

.hotCard{
    width: 180px;
    margin: auto;
    margin-top: 16px;
  .cover{
    img{
      width: 180px;
      height: 180px;
      overflow: hidden;
    }
  }
  .jewelName{
  }
}

.content{
  display: inline-block;
  width: 780px;
}



.show-content{
  display: inline-block;
  width: 700px;
  margin: 36px;

  .name{}
  .sort{}
  .tag{}
  .number{}
  .content{}
}

.fill{
  width: 1024px;
  height: 68px;
}







.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 1024px;
  padding: 0;
  margin: 60px auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


  .callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

