.container{
  width: 1024px;
  margin: 0 auto;
}

.containerTitle{
  display: inline-block;
  height: 30px;
  width: 760px;
  border-bottom: 1px solid rgba(30,30,30,0.1);
}

.jewelCard{
  width: 230px;
  height: 300px;
  margin-top: 26px;
  margin-left: 18px;
  overflow: hidden;
  display: inline-block;
  
  .jewelName{
    display: block;
    height: 33px;
    overflow: hidden;
    font-size: 120%;
    padding-top: 12px;
  }

  .cover{
    margin:0 auto;
    img{
      width: 220px;
      height: 220px;
      overflow: hidden;
    }
  }

  p{
    font-size: 60%;
    margin: 6px auto;
  }

  .sort{
    font-size: 60%;
    color: #ffa6a6;
    display: inline-block;
    a{
      color: #ffa6a6;
    }
  }

  ul.tags{
    margin-left: -30px;
    list-style: none;
    display: inline-block;
    font-size: 60%;
    color: #ffa600;

    li{
      display: inline;
      &:before{
        content: "·";
        margin: 0 5px;
      }

      a{
        color: #ffa600;
      }
    }
  }

}

.sidebar{
  float: right;
  display: inline-block;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 230px;
  border: 1px solid rgba(30,30,30,0.1);
}

.hot{
  margin: 30px auto;
  .hotTitle{
    color: #909090;
    margin: 0px auto;
    border-bottom: 1px solid rgba(30,30,30,0.1);
    width: 180px;
    text-align: center;
  }
}

.hotCard{
    width: 180px;
    margin: auto;
    margin-top: 16px;
  .cover{
    img{
      width: 180px;
      height: 180px;
      overflow: hidden;
    }
  }
  .jewelName{
  }
}

.content{
  display: inline-block;
  width: 780px;
}



.show-content{
  display: inline-block;
  width: 700px;
  margin: 36px;

  .name{
    font-size: 180%;
  }
  .sort{
    margin-left: 6px;
    display: inline-block;
    color: #ffa600;
    font-size: 80%;
    margin-right: 36px;
    &:before{
      content: '分类: ';
    }
    a{
      color: #ffa600;
    }
  }
  ul.tag{
    color: #ffa6a6;
    list-style: none;
    display: inline-block; 
    font-size: 66%;
    margin-left: -36px;
    &:before{
      content: "标签: ";
      color: #ffa6a6;
    }
    li{
      display: inline-block;
      padding-left: 6px;
      a{
        color: #ffa6a6;
      }
    }
  }
  .number{
    font-size: 60%;
    color: #ffa600;
    display: inline-block;
    margin-left: 36px;
    &:before{
      content: '编号: '；
    }
  }
  .content{
    margin-top: 26px;
  }
}

.fill{
  width: 1024px;
  height: 68px;
}


.slicebox{
  width: 1024px;
  margin: 60px auto;
}







