<%= render 'shared/ring' %>

<div class="container">
  <div class="containerTitle"> 首饰 / JEWELS</div>
  <div class="sidebar">
    推荐
  </div>
  <div class="content">
    <section class='jewelCard'>
      <a class='cover' href=""><img alt="80" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fcover%2F1332%2F65.jpg?imageView/1/w/244/h/160/q/80"></a>
      <a class='jewelName' href="">小熊项链</a>
      <p>这是一个介绍，就是一个真的接受，就是一个介绍什么的，就是一个接受</p>
      <a class='sort' href="">项链</a>      
      <ul class='tags'>
        <li>航过</li>
        <li>小熊</li>
      </ul>
    </section>

        <section class='jewelCard'>
      <a class='cover' href=""><img alt="80" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fcover%2F1332%2F65.jpg?imageView/1/w/244/h/160/q/80"></a>
      <a class='jewelName' href="">小熊项链</a>
      <p>这是一个介绍，就是一个真的接受，就是一个介绍什么的，就是一个接受</p>
      <a class='sort' href="">项链</a>      
      <ul class='tags'>
        <li>航过</li>
        <li>小熊</li>
      </ul>
    </section>


        <section class='jewelCard'>
      <a class='cover' href=""><img alt="80" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fcover%2F1332%2F65.jpg?imageView/1/w/244/h/160/q/80"></a>
      <a class='jewelName' href="">小熊项链</a>
      <p>这是一个介绍，就是一个真的接受，就是一个介绍什么的，就是一个接受</p>
      <a class='sort' href="">项链</a>      
      <ul class='tags'>
        <li>航过</li>
        <li>小熊</li>
      </ul>
    </section>



        <section class='jewelCard'>
      <a class='cover' href=""><img alt="80" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fcover%2F1332%2F65.jpg?imageView/1/w/244/h/160/q/80"></a>
      <a class='jewelName' href="">小熊项链</a>
      <p>这是一个介绍，就是一个真的接受，就是一个介绍什么的，就是一个接受</p>
      <a class='sort' href="">项链</a>      
      <ul class='tags'>
        <li>航过</li>
        <li>小熊</li>
      </ul>
    </section>



        <section class='jewelCard'>
      <a class='cover' href=""><img alt="80" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fcover%2F1332%2F65.jpg?imageView/1/w/244/h/160/q/80"></a>
      <a class='jewelName' href="">小熊项链</a>
      <p>这是一个介绍，就是一个真的接受，就是一个介绍什么的，就是一个接受</p>
      <a class='sort' href="">项链</a>      
      <ul class='tags'>
        <li>航过</li>
        <li>小熊</li>
      </ul>
    </section>



        <section class='jewelCard'>
      <a class='cover' href=""><img alt="80" src="http://assets-glassx.qiniudn.com/uploads%2Farticle%2Fcover%2F1332%2F65.jpg?imageView/1/w/244/h/160/q/80"></a>
      <a class='jewelName' href="">小熊项链</a>
      <p>这是一个介绍，就是一个真的接受，就是一个介绍什么的，就是一个接受</p>
      <a class='sort' href="">项链</a>      
      <ul class='tags'>
        <li>航过</li>
        <li>小熊</li>
      </ul>
    </section>


    
  </div>

</div>